<div mat-dialog-content>
  <div *ngIf="data.enableCalender">
    <p>Select Due Date</p>
    <mat-calendar
      [selected]="data.date"
      (selectedChange)="dueDateChanged($event)"
    >
    </mat-calendar>
  </div>
  
  <mat-form-field *ngIf="data.enableTime">
    <P>Select Time</P>
    <input required type="time" matInput [(ngModel)]="data.time" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" cdkFocusInitial>Ok</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
