.container {
  display: flex;
}

.main {
  width: 80%;
}

.title {
  width: 60%;
}

.description {
  width: 60%;
}

.description textarea {
  resize: none;
}

.options {
  width: 20%;
  border-left: 1px dotted;
  padding-left: 5px;
}

.option-btn {
  display: grid;
  grid-gap: 4px;
}

.option-content {
  display: flex;
  align-items: center;
}

.checklist {
  max-width: 80%;
}

.sub-header {
  margin-top: 5px;
  margin-bottom: 1em;
  font-size: small;
  font-weight: 600;
  color: dimgray;
}

// .checklist-text {
//   width: 100%;
//   cursor: pointer;
//   margin-left: 10px;
// }

// .checklist-edit-input {
//   display: flex;
// }

.checklist-input {
  border: 1px solid gray;
  border-radius: 4px;
}

.checklist-add {
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
}

// .checklist-done {
//   text-decoration: line-through;
//   text-decoration-color: gray;
// }

// .checklist-options {
//   display: none;
// }

// .checklist-options mat-icon {
//   margin-right: 5px;
//   cursor: pointer;
// }

.single-checklist {
  height: 30px;
  display: flex;
  align-items: center;
  align-content: center;
}

.single-checklist:hover {
  background-color: rgb(188, 243, 243);
}

.single-checklist:hover .checklist-options {
  display: flex;
  color: darkslategray;
}

// .done {
//   color: lightseagreen;
//   display: flex;
//   align-items: center;
//   align-content: center;
// }

// .close {
//   color: orangered;
//   display: flex;
//   align-items: center;
//   align-content: center;
// }

.labels {
  margin: 10px 0px;
}

.label-section {
  display: flex;
  align-items: center;
}

.label-btn {
  cursor: auto;
}

.single-label {
  color: white;
  min-height: 20px;
  margin-right: 3px;
}

.checklist-progress {
  display: flex;
}

.progress-bar {
  margin: 10px 5px;
}

.duedate-section {
  margin-bottom: 1em;
}

.duedates {
  display: flex;
}

.duedates input {
  margin-left: 1em;
  width: 8em;
}

.due-date {
  margin-left: 1em;
  width: 10em;
}

.due-complete {
  background-color: #b2ff59;
  color: #33691e;
  padding: 4px;
  border-radius: 4px;
  font-size: smaller;
  font-weight: 600;
}

.due-overdue {
  background-color: #ea80fc;
  color: #6a1b9a;
  padding: 4px;
  border-radius: 4px;
  font-size: smaller;
  font-weight: 600;
}
