<div class="container">
  <div class="main">
    <mat-form-field class="title">
      <mat-label>Title</mat-label>
      <input matInput cdkFocusInitial [(ngModel)]="data.task.title" />
    </mat-form-field>

    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="data.task.description" rows="2" cols="50"></textarea>
    </mat-form-field>

    <section class="labels">
      <p class="sub-header">Lables</p>
      <div class="label-section">
        <div *ngFor="let label of data.labels">
          <span *ngFor="let taskId of label.taskIds">
            <mat-chip *ngIf="taskId == data.task.id" [style.background-color]="label.color" class="single-label">
              {{ label.name }}
            </mat-chip>
          </span>
        </div>
        <button mat-icon-button aria-label="add label" (click)="openLabelDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </section>

    <section class="checklist">
      <p class="sub-header">Check List</p>
      <div *ngFor="let checklist of data.task.checklist" class="single-checklist">
        <!-- <mat-checkbox [(ngModel)]="checklist.done">{{
      checklist.text
    }}</mat-checkbox> -->
        <mat-checkbox [(ngModel)]="checklist.done" color="primary"></mat-checkbox>
        <span (click)="toggleChecklistEditing(checklist)" *ngIf="!checklist.isEditing" class="checklist-text"
          [ngClass]="{ 'checklist-done': checklist.done == true }">{{ checklist.text }}</span>
        <div class="checklist-text checklist-edit-input" *ngIf="checklist.isEditing">
          <input matInput [(ngModel)]="checklist.text" />
          <span (click)="toggleChecklistEditing(checklist)" class="done">
            <mat-icon>done</mat-icon>
          </span>
          <span (click)="toggleChecklistEditing(checklist)" class="close">
            <mat-icon>close</mat-icon>
          </span>
        </div>
      </div>

      <div class="checklist-add">
        <input class="checklist-input" matInput placeholder="Add a new task to checklist" autocomplete="off" name="checklistInput"
          [(ngModel)]="checklistText" />
        <button mat-stroked-button (click)="updateChecklist()">Add</button>
      </div>
    </section>

    <div mat-dialog-actions>
      <!-- <button mat-button [mat-dialog-close]="{ task: data.task }">OK</button> -->
      <button mat-button (click)="save()">OK</button>
      <button mat-button (click)="cancel()">Cancel</button>

      <button *ngIf="data.enableDelete" mat-icon-button color="primary" aria-label="Delete" class="close" (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="options">
    <p class="sub-header">ADD TO CARD</p>
    <button mat-stroked-button (click)="openLabelDialog()">
      <mat-icon>label</mat-icon> Labels
    </button>
  </div>
</div>