<div class="container">
  <div class="main">
    <mat-form-field class="title">
      <mat-label>Title</mat-label>
      <input
        matInput
        cdkFocusInitial
        autocomplete="off"
        [(ngModel)]="data.task.title"
      />
    </mat-form-field>

    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="data.task.description"
        rows="2"
        cols="50"
      ></textarea>
    </mat-form-field>

    <section class="members">
      <p class="sub-header">Members</p>
      <div class="member-section">
        <span class="member" *ngFor="let member of data.task.members">{{
          member.name | shortname
        }}</span>
        <div>
          <button
            mat-icon-button
            aria-label="add member"
            (click)="openMemberDialog()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </section>

    <section class="labels">
      <p class="sub-header">Lables</p>
      <div class="label-section">
        <span *ngFor="let label of data.labels">
          <span *ngFor="let taskId of label.taskIds">
            <mat-chip
              *ngIf="taskId == data.task.id"
              [style.background-color]="label.color"
              class="single-label"
            >
              {{ label.name }}
            </mat-chip>
          </span>
        </span>
        <div
          matTooltip="You can add Labels once task is created"
          [matTooltipDisabled]="!isAddLabelDisabled()"
        >
          <button
            mat-icon-button
            aria-label="add label"
            (click)="openLabelDialog()"
            [disabled]="isAddLabelDisabled()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </section>

    <section class="duedate-section" *ngIf="data.task.dueDate">
      <p class="sub-header">Due date</p>
      <div class="duedates">
        <mat-checkbox
          [(ngModel)]="data.task.dueDate.completed"
          color="primary"
        ></mat-checkbox>
        <span class="due-date">{{
          data.task.dueDate.date | dateformat: ""
        }}</span>
        <span class="due-complete" *ngIf="data.task.dueDate.completed"
          >COMPLETED</span
        >
        <span
          class="due-overdue"
          *ngIf="overDue && !data.task.dueDate.completed"
          >OVERDUE</span
        >
      </div>
    </section>

    <section class="checklist">
      <p class="sub-header">
        Check List
        <span>
          <button mat-stroked-button (click)="showHideCompletedChecklist()">
            <span *ngIf="showHideCompletedTask">Show</span
            ><span *ngIf="!showHideCompletedTask">Hide</span> checked items
          </button>
          <button mat-stroked-button (click)="deleteAllChecklist()">
            Delete
          </button>
        </span>
      </p>
      <div class="checklist-progress" *ngIf="data.task.checklist">
        <span class="task-completed">{{ checklistCompleted }}%</span>
        <mat-progress-bar
          class="progress-bar"
          mode="determinate"
          value="{{ checklistCompleted }}"
        ></mat-progress-bar>
      </div>
      <div
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        class="checklist-list"
      >
        <checklist
          cdkDrag
          *ngFor="let checklist of filteredChecklist"
          class="checklist-box"
          [checklist]="checklist"
          (duedate)="setDueDateChecklist($event)"
          (assign)="assignChecklist($event)"
          (delete)="deleteChecklist($event)"
          (done)="checklistClicked($event)"
        ></checklist>
      </div>

      <div class="checklist-add">
        <input
          class="checklist-input"
          matInput
          placeholder="Add a new task to checklist"
          autocomplete="off"
          name="checklistInput"
          [(ngModel)]="checklistText"
        />
        <button mat-stroked-button (click)="updateChecklist()">Add</button>
      </div>
    </section>

    <div mat-dialog-actions>
      <!-- <button mat-button [mat-dialog-close]="{ task: data.task }">OK</button> -->
      <button mat-button (click)="save()">OK</button>
      <button mat-button (click)="cancel()">Cancel</button>

      <button
        *ngIf="data.enableDelete"
        mat-icon-button
        color="primary"
        aria-label="Delete"
        class="close"
        (click)="delete()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="options">
    <p class="sub-header">ADD TO CARD</p>
    <div class="option-btn">
      <button mat-stroked-button (click)="openMemberDialog()">
        <span class="option-content">
          <mat-icon class="material-icons-outlined">person_outline</mat-icon>
          Members
        </span>
      </button>

      <button
        mat-stroked-button
        (click)="openLabelDialog()"
        [disabled]="isAddLabelDisabled()"
      >
        <span
          class="option-content"
          matTooltip="You can add Labels once task is created"
          [matTooltipDisabled]="!isAddLabelDisabled()"
          [matTooltipPosition]="tooltipPosition"
        >
          <mat-icon class="material-icons-outlined">label</mat-icon> Labels
        </span>
      </button>

      <button mat-stroked-button (click)="openCalenderDialog()">
        <span class="option-content">
          <mat-icon class="material-icons-outlined">schedule</mat-icon> Dates
        </span>
      </button>

      <button mat-stroked-button [disabled]="true">
        <span
          class="option-content"
          matTooltip="Feature not available"
          [matTooltipDisabled]="false"
          [matTooltipPosition]="tooltipPosition"
        >
          <mat-icon class="material-icons-outlined">attachment</mat-icon>
          Attachments
        </span>
      </button>

      <button mat-stroked-button (click)="openColorDialog()">
        <span class="option-content">
          <mat-icon class="material-icons-outlined">palette</mat-icon>
          Design
        </span>
      </button>
    </div>

    <p class="sub-header">ACTIONS</p>
    <div class="option-btn">
      <button mat-stroked-button (click)="openMoveDialog()">
        <span class="option-content">
          <mat-icon class="material-icons-outlined">arrow_forward</mat-icon>
          Move
        </span>
      </button>

      <button mat-stroked-button (click)="openCopyDialog()">
        <span class="option-content">
          <mat-icon class="material-icons-outlined">content_copy</mat-icon> Copy
        </span>
      </button>

      <button mat-stroked-button [disabled]="true">
        <span
          class="option-content"
          matTooltip="Feature not available"
          [matTooltipDisabled]="false"
          [matTooltipPosition]="tooltipPosition"
        >
          <mat-icon class="material-icons-outlined">visibility</mat-icon> Watch
        </span>
      </button>

      <button mat-stroked-button [disabled]="true">
        <span
          class="option-content"
          matTooltip="Feature not available"
          [matTooltipDisabled]="false"
          [matTooltipPosition]="tooltipPosition"
        >
          <mat-icon class="material-icons-outlined">archive</mat-icon> Archive
        </span>
      </button>

      <button mat-stroked-button (click)="shareBoard()">
        <span class="option-content">
          <mat-icon class="material-icons-outlined">share</mat-icon> Share
        </span>
      </button>
    </div>
  </div>
</div>
