.sub-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 5px;
  font-size: small;
  font-weight: 600;
  color: dimgray;
  font-size: 1em;
}

.invite-link {
  margin: 10px 0px;
}

.info {
  font-size: x-small;
}
