<div mat-dialog-content>
  <p class="sub-header">Invite Members</p>
  <div>
    <input
      cdkFocusInitial
      class="search-input"
      name="inviteEmail"
      type="email"
      placeholder="Email address"
      [(ngModel)]="inviteEmail"
      autocomplete="off"
      (ngModelChange)="emailInputChanged()"
    />
    <button
      [ngClass]="{ 'btn-disabled': !isEmailValid, 'btn-active': isEmailValid }"
      [disabled]="!isEmailValid"
      mat-stroked-button
      aria-label="sedn invitation"
      (click)="sendInvitation()"
    >
      Send invitation
    </button>
  </div>
  <div class="flex-display spacing">
    <p class="sub-header">Create Invite Link</p>
    <button
      mat-icon-button
      aria-label="create invite link"
      (click)="createInvitation()"
    >
      <mat-icon>add_link</mat-icon>
    </button>
  </div>
  <p class="info">Anyone with this link can join your board.</p>
  <div class="links">
    <div *ngIf="invitationLink">
      <div class="flex-display spacing">
        <p
          class="txt-small link-text"
          matTooltip="{{ invitationLink }}"
          matTooltipClass="my-custom-tooltip"
        >
          {{ invitationLink }}
        </p>
        <button mat-icon-button (click)="copyInviteLinkURL()">
          <mat-icon class="icon-small">content_copy</mat-icon>
        </button>
      </div>
      <div class="flex-display spacing">
        <qrcode
          [qrdata]="invitationLink"
          [width]="100"
          [errorCorrectionLevel]="'M'"
          [elementType]="'svg'"
        ></qrcode>
        <div class="flex-display spacing">
          <p class="txt-small">
            Or let anyone scan this QR code to invite them to this board
          </p>
          <mat-icon class="pointer" (click)="downloadQRImage()"
            >file_download</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
