<div mat-dialog-content>
  <p class="sub-header">Invite Members</p>
  <div>
    <mat-form-field class="title">
      <input
        matInput
        cdkFocusInitial
        autocomplete="off"
        [(ngModel)]="inviteEmail"
        placeholder="Email address"
      />
    </mat-form-field>
    <button
      mat-stroked-button
      aria-label="sedn invitation"
      (click)="sendInvitation()"
    >
      Send invitation
    </button>
  </div>
  <p class="sub-header">Create Invite Link</p>
  <div class="invite-link">
    <a *ngIf="invitationLink" target="_blank" href="{{invitationLink}}">Invitation Link</a>
  </div>
  <button
    mat-stroked-button
    aria-label="create invite link"
    (click)="createInvitation()"
  >
  Create invitation
  </button>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
