<div mat-dialog-content>
  <!-- <p class="title">Members</p> -->
  <div class="search">
    <filter-search
      (changed)="filterMembers($event)"
      [placeholder]="'Search members'"
    ></filter-search>
  </div>
  <p class="sub-header">BOARD MEMBERS</p>
  <div *ngIf="data.members">
    <button
      (click)="addRemoveMemberFromTask(member)"
      mat-stroked-button
      *ngFor="let member of filteredMembers"
      class="member-info"
    >
      <span class="flex-display">
        <span *ngIf="!member.image" class="member flex-display">{{
          member.name | shortname
        }}</span>
        <span
          *ngIf="member.image"
          class="member member-image"
          [style.background-image]="'url(' + member.image + ')'"
        ></span>
        <span>{{ member.name }}</span>
        <mat-icon *ngIf="member.isAdded">done</mat-icon>
      </span>
    </button>
  </div>
  <button
    mat-stroked-button
    aria-label="show members"
    (click)="showAllMembers()"
    class="member-info color-gray"
    *ngIf="!showAllMemberBtn"
  >
    All Board Members
  </button>
  <p *ngIf="showAllMemberBtn">Showing all available board members</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" cdkFocusInitial>Ok</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
