.sub-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 1em;
  font-size: small;
  font-weight: 600;
  color: dimgray;
  font-size: 1em;
}

.member {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  background-color: #dfe1e6;
  border-radius: 25em;
  color: #172b4d;
  cursor: pointer;
  float: left;
  height: 32px;
  margin: 0 4px 4px 0;
  overflow: visible;
  position: relative;
  width: 32px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.member-info {
  width: 180px;
  height: 40px;
  margin: 5px;
}
