<div mat-dialog-content>
  <!-- <p class="title">Members</p> -->
  <div class="search">
    <filter-search (changed)="filterMembers($event)" [placeholder]="'Search members'"></filter-search>
  </div>
  <p class="sub-header">BOARD MEMBERS</p>
  <div *ngIf="data.members">
    <button
      (click)="addRemoveMemberFromTask(member)"
      mat-stroked-button
      *ngFor="let member of filteredMembers"
      class="member-info"
    >
      <span class="member">{{ member.name | shortname }}</span>
      {{ member.name }}
      <mat-icon *ngIf="member.isAdded">done</mat-icon>
    </button>
  </div>
  <button
    mat-stroked-button
    aria-label="show members"
    (click)="showAllMembers()"
  >
    All Board Members
  </button>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" cdkFocusInitial>Ok</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
