:host {
  display: block;
}

.item {
  margin-bottom: 10px;
  cursor: pointer;
}

.favourite {
  display: flex;
  justify-content: flex-end;
}

.flex-display {
  display: flex;
  align-items: center;
  align-content: center;
}

.item-compact {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  padding: 1rem;
}

.spacing {
  justify-content: space-between;
}

.template {
  display: inline;
  border-radius: 3px;
  background-color: rgba(224, 224, 224, 0.7);
  padding: 3px 8px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 16px;
  align-items: center;
  color: #172b4d;
  width: fit-content;
  width: -moz-fit-content;
}

.board-title {
  font-size: 14px;
}
