:host {
  display: block;
}

.item {
  margin-bottom: 10px;
  cursor: pointer;
}

.favourite {
  display: flex;
  justify-content: flex-end;
}

.template {
  display: inline;
  border-radius: 3px;
  background-color: rgba(224, 224, 224, 0.7);
  padding: 3px 8px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 16px;
  align-items: center;
  color: #172b4d;
  width: fit-content;
  width: -moz-fit-content;
}
