<div>
  <div class="flex-display end">
    <button
      mat-icon-button
      aria-label="close automation popup"
      (click)="cancel()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <section class="header" *ngIf="!showRuleSection">
    <div class="flex-display spacing pad-10">
      <p>Rules</p>
      <button mat-flat-button color="primary" (click)="showCreateRule()">
        Create Rule
      </button>
    </div>
  </section>

  <section *ngIf="showRuleSection">
    <div class="flex-display spacing header pad-10">
      <p>Create a Rule</p>
      <div>
        <button mat-flat-button color="primary" (click)="saveRule()" [disabled]="!isSaveEnabled">
          Save
        </button>
        <button mat-flat-button (click)="cancelRule()">Cancel</button>
      </div>
    </div>
    <div class="pad-10">
      <p>Trigger</p>
      <div class="info-message">
        Your command doesn't have a trigger yet. Select a trigger for the
        command below.
      </div>
      <button
        mat-stroked-button
        color="primary"
        aria-label="add trigger"
        class="btn-large"
        *ngIf="!isShowingTriggerSection"
        (click)="showTriggers()"
      >
        <mat-icon>add</mat-icon> Add Trigger
      </button>
    </div>

    <div *ngIf="isShowingTriggerSection && !isShowingActionSection">
      <p>Select a Trigger</p>
      <!-- Different Triggers -->
      <div class="box">
        <mat-card class="flex-display col card-small">
          <mat-icon>arrow_forward</mat-icon>
          <span>Card Move</span>
        </mat-card>
      </div>

      <!-- Different Trigger Options-->
      <div class="box">
        <mat-card class="flex-display">
          <div class="flex-display col full-width">
            <div>
              <span>When a card is</span>
              <select [(ngModel)]="move_trigger_1_type">
                <option>added to</option>
                <option>created in</option>
                <option>emailed into</option>
                <option>moved into</option>
                <option>moved out of</option>
              </select>
              <span>the board</span>
              <select [(ngModel)]="move_trigger_1_assign">
                <option>by me</option>
                <option>by anyone</option>
                <option>by anyone except me</option>
              </select>
            </div>
            <p class="trigger-info">
              "Added" means created, copied, moved into the board or emailed
              into the board.
            </p>
          </div>
          <button
            mat-mini-fab
            color="primary"
            aria-label="add trigger"
            (click)="addTrigger(move_trigger_1_type, move_trigger_1_assign)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
      </div>
    </div>

    <div *ngIf="isShowingActionSection">
      <p>Select an Action</p>
      <!-- Different Actions -->
      <div class="box">
        <mat-card class="flex-display col card-small">
          <mat-icon>arrow_forward</mat-icon>
          <span>Move</span>
        </mat-card>
      </div>

      <!-- Different Action Options-->
      <div class="box">
        <mat-card class="flex-display">
          <div class="flex-display col full-width">
            <div>
              <select [(ngModel)]="move_action_1_type">
                <option value="move">move</option>
                <option value="copy">copy</option>
              </select>
              <span>the card to</span>
              <select [(ngModel)]="move_action_1_location">
                <option value="the top of list">the top of list</option>
                <option value="the bottom of list">the bottom of list</option>
              </select>
              <select [(ngModel)]="move_action_list_name">
                <option [value]="taskList.name" *ngFor="let taskList of data.taskLists">{{ taskList.name }}</option>
              </select>
            </div>
          </div>
          <button
            mat-mini-fab
            color="primary"
            aria-label="add action"
            (click)="addAction(move_action_1_type, move_action_1_location, move_action_list_name)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
      </div>
      <div class="box">
        <mat-card class="flex-display">
          <div class="flex-display col full-width">
            <div>
              <span>move the card to</span>
              <select [(ngModel)]="move_action_2_location">
                <option value="the top of the list">the top of the list</option>
                <option value="the top of the list">the top of the list</option>
                <option value="the next list on the board">the next list on the board</option>
                <option value="the previous list on the board">the previous list on the board</option>
              </select>
            </div>
          </div>
          <button
            mat-mini-fab
            color="primary"
            aria-label="add action"
            (click)="addAction(move_action_2_location)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
      </div>
      <div class="box">
        <mat-card class="flex-display">
          <div class="flex-display col full-width">
            <div>
              <select [(ngModel)]="move_action_3_type">
                <option value="arcive">arcive</option>
                <option value="unarcive">unarcive</option>
              </select>
              <span>the card</span>
            </div>
          </div>
          <button
            mat-mini-fab
            color="primary"
            aria-label="add action"
            (click)="addAction(move_action_3_type)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
      </div>
    </div>
  </section>
</div>
