.flex-display {
  display: flex;
  align-content: center;
}

.spacing {
  justify-content: space-between;
}

.end {
  justify-content: end;
}

.col {
  flex-direction: column;
}

.header {
  border-bottom: 1px solid gray;
}

.btn-large {
  width: 100%;
  margin-top: 1rem;
}

.pad-10 {
  padding: 10px;
}

.box {
  margin: 1rem;
}

.card-small {
  width: 80px;
}

.trigger-info {
  margin-top: 1rem;
  color: #6b808c;
  font-size: 14px;
  margin-bottom: 0;
  margin-right: 4rem;
  padding-top: 8px;
}

.full-width {
  width: 100%;
}

.info-message {
  position: relative;
  min-height: 1em;
  margin: 1em0;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: #17394d;
  -webkit-transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
  transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px rgb(34 36 38 / 22%) inset, 0 0 0 0 transparent;
}