:host {
  display: block;
}

.item {
  margin-bottom: 10px;
  cursor: pointer;
}

.desc {
  margin-top: 4px;
}

.my-chip {
  color: white;
  min-height: 20px;
  transition: min-height 2s;
  border: 2px solid white;
  margin: 1px !important;
}

.chip-no-text {
  min-height: 10px;
  min-width: 40px;
}

.checklist-count {
  margin-top: 15px;
}

.actions-info {
  margin-top: 2px;
  display: flex;
  align-items: center;
  align-content: center;
}

.action-schedule {
  display: flex;
  margin-right: 6px;
  align-items: center;
  align-content: center;
}

.action-schedule span {
  font-weight: 500;
}

.due-overdue {
  background-color: #ea80fc;
  color: #6a1b9a;
  padding: 4px;
  border-radius: 4px;
}

.due-complete {
  background-color: #b2ff59;
  color: #33691e;
  padding: 4px;
  border-radius: 4px;
}

::ng-deep html.cdk-global-scrollblock {
  top: 0px !important;
}

.members {
  position: absolute;
  right: 0;
  bottom: 0;
}

.member {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  background-color: #dfe1e6;
  border-radius: 25em;
  color: #172b4d;
  cursor: pointer;
  float: left;
  height: 32px;
  margin: 0 4px 4px 0;
  overflow: visible;
  position: relative;
  width: 32px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}
