<mat-card
  class="item"
  *ngIf="task"
  (click)="edit.emit(task)"
  [style.background-color]="task.backgroundColor"
>
  <h5>{{ task.title }}</h5>
  <div *ngIf="!showLabelText">
    <mat-chip-list>
      <div *ngFor="let label of labels">
        <span *ngFor="let taskId of label.taskIds">
          <mat-chip
            *ngIf="taskId == task.id"
            [style.background-color]="label.color"
            class="single-label my-chip"
            (click)="hideLabelName()"
          >
            {{ label.name }}
          </mat-chip>
        </span>
      </div>
    </mat-chip-list>
  </div>

  <div *ngIf="showLabelText">
    <mat-chip-list>
      <div *ngFor="let label of labels">
        <span *ngFor="let taskId of label.taskIds">
          <mat-chip
            *ngIf="taskId == task.id"
            [style.background-color]="label.color"
            class="chip-no-text"
            (click)="hideLabelName()"
          >
          </mat-chip>
        </span>
      </div>
    </mat-chip-list>
  </div>
  <p class="desc">
    {{ task.description }}
  </p>

  <div class="actions-info">
    <p
      *ngIf="task.dueDate"
      matTooltip="task complete date"
      class="action-schedule"
      [ngClass]="{
        'due-date': overDue == false && task.dueDate.completed == false,
        'due-overdue': overDue == true,
        'due-complete': task.dueDate.completed == true
      }"
    >
      <mat-icon class="task-icon">schedule</mat-icon>
      <span class="info-text">{{ task.dueDate.date | dateformat: "short" }}</span>
    </p>
    <p *ngIf="task.checklist" class="checklist-count">
      <mat-icon
        matBadge="{{ task.checklist.length }}"
        matBadgeColor="accent"
        class="material-icons-outlined task-icon"
        >check_box</mat-icon
      >
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
    </p>
    <p *ngIf="task.message" class="message-info">
      <mat-icon class="material-icons-outlined task-icon" matTooltip="{{ task.message }}"
        >message</mat-icon
      >
    </p>
    <p *ngIf="task.lockStatus && task.lockStatus.isLocked" class="">
      <mat-icon
        class="material-icons-outlined task-icon"
        matTooltip="Task is locked. Can only be unlocked by user who locked it."
        >lock</mat-icon
      >
    </p>

    <div class="members">
      <span
        class="member"
        *ngFor="let member of task.members"
        matTooltip="{{ member.name }}"
        >{{ member.name | shortname }}</span
      >
    </div>
  </div>
</mat-card>
