<mat-card class="item" *ngIf="task" (click)="edit.emit(task)">
  <h3>{{ task.title }}</h3>
  <div *ngIf="!showLabelText">
    <mat-chip-list>
      <div *ngFor="let label of labels">
        <span *ngFor="let taskId of label.taskIds">
          <mat-chip *ngIf="taskId == task.id" [style.background-color]="label.color" class="single-label" class="my-chip" (click)="hideLabelName()">
            {{ label.name }}
          </mat-chip>
        </span>
      </div>
    </mat-chip-list>
  </div>

  <div *ngIf="showLabelText">
    <mat-chip-list>
      <div *ngFor="let label of labels">
        <span *ngFor="let taskId of label.taskIds">
          <mat-chip *ngIf="taskId == task.id" [style.background-color]="label.color" class="chip-no-text" (click)="hideLabelName()">
          </mat-chip>
        </span>
      </div>
    </mat-chip-list>
  </div>
  <p>
    {{ task.description }}
  </p>
  <p *ngIf="task.checklist" class="checklist-count">
    <mat-icon matBadge="{{task.checklist.length}}" matBadgeColor="accent" class="material-icons-outlined">check_box</mat-icon>
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </p>
</mat-card>