:host {
  display: block;
}

.item {
  margin-bottom: 10px;
  cursor: pointer;
}

.my-chip {
  color: white;
  min-height: 20px;
  transition: min-height 2s;
}

.chip-no-text {
  min-height: 10px;
  min-width: 40px;
}

.checklist-count {
  margin-top: 15px;
}