<!-- Toolbar -->
<div class="toolbar flex-display" role="banner">
  <!-- <div class="bar" *ngIf="afAuth.user | async as user">
    <span>Welcome, {{ user.displayName }}</span>
  </div> -->

  <!-- Section Left -->
  <div class="bar" *ngIf="auth.isLoggedIn()">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menuApps"
      aria-label="site navigation"
    >
      <mat-icon>apps</mat-icon>
    </button>
    <mat-menu #menuApps="matMenu">
      <button mat-menu-item *ngIf="auth.isLoggedIn()" (click)="openBoards()">
        <mat-icon>space_dashboard</mat-icon>
        <a *ngIf="auth.isLoggedIn()" class="nav-padding" #showBoardElm
          ><span>Boards</span></a
        >
      </button>
      <button mat-menu-item *ngIf="auth.isLoggedIn()" (click)="openDaily()">
        <mat-icon>event</mat-icon>
        <a *ngIf="auth.isLoggedIn()" class="nav-padding"><span>Daily</span></a>
      </button>
    </mat-menu>

    <button
      mat-icon-button
      aria-label="home page"
      (click)="navigateHome()"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="show boards" (click)="showAllBoards()">
      <mat-icon>space_dashboard</mat-icon>
      Boards
    </button>
  </div>

  <!-- Section Middle -->
  <div class="bar flex-display">
    <a href="/" class="flex-display"
      ><img width="25" alt="Tasks Logo" src="assets/images/clipboard.png"
    /></a>
    <span class="title">TASKS</span>
  </div>

  <!-- Section Right -->
  <div class="bar">
    <span *ngIf="afAuth.user | async as user">
      <button
        mat-icon-button
        aria-label="create board"
        (click)="createBoard()"
        matTooltip="create board"
      >
        <mat-icon>add_circle</mat-icon>
        <span #createBoardElm></span>
      </button>
      <button
        mat-icon-button
        aria-label="information"
        (click)="showInfo()"
        matTooltip="info"
      >
        <mat-icon>info</mat-icon>
        <span #infoElm></span>
      </button>
      <button
        mat-icon-button
        aria-label="notification"
        (click)="showNotification()"
        matTooltip="notification"
      >
        <mat-icon
          *ngIf="notificationCount > 0"
          [matBadge]="notificationCount"
          matBadgeColor="warn"
          >notifications</mat-icon
        >
        <mat-icon *ngIf="notificationCount == 0">notifications</mat-icon>
        <span #notificationElm></span>
      </button>
    </span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="manage account"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="!auth.isLoggedIn()" (click)="openLogin()">
        <mat-icon>login</mat-icon>
        <a class="nav-padding"><span>Login</span></a>
      </button>
      <button mat-menu-item *ngIf="!auth.isLoggedIn()" (click)="openRegister()">
        <mat-icon>add_circle_outline</mat-icon>
        <a class="nav-padding"><span>Register</span></a>
      </button>
      <button mat-menu-item *ngIf="auth.isLoggedIn()" (click)="openAccount()">
        <mat-icon>manage_accounts</mat-icon>
        <a class="nav-padding"><span>Account</span></a>
      </button>
      <button mat-menu-item *ngIf="auth.isLoggedIn()" (click)="auth.logout()">
        <mat-icon>logout</mat-icon>
        <a class="nav-padding"><span>Logout</span></a>
      </button>
    </mat-menu>
  </div>
</div>
