<div>
  <mat-progress-bar mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress > 0"></mat-progress-bar>
  <h2 mat-dialog-title>Upload Avatar Image</h2>
  <mat-dialog-content class="mat-typography">
    <label for="file">File:</label>
    <input type="file" (change)="fileChanged($event)" accept=".png,.jpg" />
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
    <button
      mat-button
      cdkFocusInitial
      *ngIf="!isUploadComplete"
      (click)="upload()"
      [disabled]="!fileToUpload"
    >
      Upload
    </button>
    <button
      mat-button
      cdkFocusInitial
      *ngIf="isUploadComplete"
      (click)="confirmUpload()"
    >
      Confirm
    </button>
  </mat-dialog-actions>
</div>
