.header {
  margin-bottom: 2rem;
}

.header p{
  font-size: 12px;
}

.label-input {
  border: 1px dotted gray;
  line-height: 30px;
}

.label-color {
  margin-top: 15px;
}

.action-icon {
  cursor: pointer;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.labels {
  margin: 10px 0px;
  min-width: 200px;
}

.label-single {
  display: flex;
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 70%;
  height: 30px;
  color: white;
  border-radius: 5px;
}

.label mat-icon {
  margin: 2px;
}

.label span {
  margin: 5px;
}

.label-options {
  cursor: pointer;
  color: black;
}

.new-label-options {
  margin-top: 15px;
}

.task-title {
  font-size: 16px;
  font-weight: 500;
}

.list-name {
  font-size: 14px;
  text-decoration: underline;
}