.item {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.title {
  margin-left: 1em;
}

.details {
  cursor: pointer;
}

.mat-card {
  padding: 8px !important;
}

.complete {
  background-color: #80808070;
  color: #808080;
}

// .task-options{
//   display: none;
// }

.task-options mat-icon {
  margin-right: 1px;
  cursor: pointer;
}

.single-task {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

// .item:hover .task-options {
//   display: flex;
//   color: darkslategray;
//   position: absolute;
//   right: 10px;
// }

.task-options {
  display: flex;
  color: darkslategray;
  position: absolute;
  right: 10px;
}

.material-icons {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.icon {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.task-info {
  margin-left: 2em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.task-info span {
  font-size: 10px;
  margin-left: 2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.green {
  color: #00c221;
}

.red {
  color: #e20000;
}

.select {
  padding: 2px;
  color: #333333;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  cursor: pointer;
  border-radius: 5px;
  height: 18px;
  font-size: 9px;
  font-weight: 900;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.status {
  display: flex;
}
