<mat-card class="item" [ngClass]="{ complete: dailyTask.isComplete == true }" [style.background-color]="dailyTask.backgroundColor">
  <mat-checkbox [(ngModel)]="dailyTask.isComplete" color="primary" (click)="done.emit(dailyTask)"></mat-checkbox>
  <div (click)="edit.emit(dailyTask)" class="details">
    <p class="title">{{ dailyTask.title }}</p>
  </div>

  <div class="task-info">
    <span *ngIf="dailyTask.checklist" matTooltip="Sub task/s under this task">
      <mat-icon class="material-icons-outlined">check_box</mat-icon>{{ completedChecklist }}/{{ totalChecklist }}</span>
  </div>

  <div class="task-options">
    <div class="task-info days">
      <span [ngClass]="{
          green: taskElapsedDays === 'Today',
          red: taskElapsedDays !== 'Today'
        }">{{ taskElapsedDays }}</span>
    </div>

    <span class="status" [ngClass]="{ 'status-selected': dailyTask.status }" matTooltip="Set status">
      <select
        class="select"
        [style.background-color]="selectStatusBackgroundColor"
        [style.color]="selectStatusColor"
        (change)="onStatusChange($event.target.value)"
      >
        <option
          class="options"
          *ngFor="let status of statusOptions"
          value="{{ status.id }}"
          [style.background-color]="status.backgroundColor"
          [style.color]="status.color"
          [selected]="isStatusSelected(status)"
        >
          {{ status.name }}
        </option>
      </select>
    </span>

    <span (click)="moveToday.emit(dailyTask)" class="delete" matTooltip="Update to today's task">
      <mat-icon class="icon">update</mat-icon>
    </span>
    <span (click)="delete.emit(dailyTask)" class="delete" matTooltip="Delete task">
      <mat-icon class="icon">delete</mat-icon>
    </span>
  </div>
</mat-card>