<mat-card
  class="item"
  [ngClass]="{ complete: dailyTask.isComplete == true }"
  [style.background-color]="dailyTask.backgroundColor"
>
  <mat-checkbox
    [(ngModel)]="dailyTask.isComplete"
    color="primary"
    (click)="done.emit(dailyTask)"
  ></mat-checkbox>
  <div (click)="edit.emit(dailyTask)" class="details">
    <p class="title">{{ dailyTask.title }}</p>
  </div>

  <div class="task-info">
    <span *ngIf="dailyTask.checklist" matTooltip="Sub task/s under this task">
      <mat-icon class="material-icons-outlined">check_box</mat-icon
      >{{ completedChecklist }}/{{ totalChecklist }}</span
    >
  </div>

  <div class="task-options">
    <div class="task-info days">
      <span
        [ngClass]="{
          green: taskElapsedDays === 'Today',
          red: taskElapsedDays !== 'Today'
        }"
        >{{ taskElapsedDays }}</span
      >
    </div>

    <!-- <div
      class="status"
      [ngClass]="{ 'status-selected': dailyTask.status }"
      matTooltip="Set status"
    >
      <select
        class="select"
        [style.background-color]="selectStatusBackgroundColor"
        [style.color]="selectStatusColor"
        (change)="onStatusChange($event.target.value)"
      >
        <option
          class="options"
          *ngFor="let status of statusOptions"
          value="{{ status.id }}"
          [style.background-color]="status.backgroundColor"
          [style.color]="status.color"
          [selected]="isStatusSelected(status)"
        >
          {{ status.name }}
        </option>
      </select>
    </div> -->
    <div
      class="status"
      [ngClass]="{
        'status-selected': dailyTask.status || isStatusIconSelected
      }"
      matTooltip="Set status"
    >
      <span
        [matMenuTriggerFor]="statusMenu"
        [style.background-color]="selectStatusBackgroundColor"
        [style.color]="selectStatusColor"
        (click)="statusIconClicked()"
      >
        {{ dailyTask.status ? dailyTask.status : "ToDo" }}
      </span>
      <mat-menu #statusMenu="matMenu" (closed)="statusMenuClosed()">
        <div
          mat-menu-item
          class="menu-opts"
          (click)="onStatusChange(status.id)"
          [style.background-color]="status.backgroundColor"
          [style.color]="status.color"
          *ngFor="let status of statusOptions"
        >
          <span>{{ status.name }}</span>
        </div>
      </mat-menu>
    </div>

    <div class="options">
      <!-- <img class="images" src="./assets/images/priority/{{ priority }}.svg" /> -->

      <!-- <span
        mat-icon-button
        class="opts"
        [matMenuTriggerFor]="menu"
        aria-label="Select task priority"
      >
        <mat-icon>bolt</mat-icon>
      </span> -->
      <img
        class="opts images icon"
        [ngClass]="{
          'priority-selected': dailyTask.priority || isPriorityIconSelected
        }"
        src="./assets/images/priority/{{ priority }}.svg"
        (click)="priorityIconClicked()"
        [matMenuTriggerFor]="menu"
        matTooltip="{{ priority }}"
      />
      <mat-menu #menu="matMenu" (closed)="priorityMenuClosed()">
        <div mat-menu-item class="menu-opts" (click)="selectedMenu('blocker')">
          <img class="images" src="./assets/images/priority/blocker.svg" />
          <span>Blocker</span>
        </div>
        <div mat-menu-item class="menu-opts" (click)="selectedMenu('critical')">
          <img class="images" src="./assets/images/priority/critical.svg" />
          <span>Critical</span>
        </div>
        <div mat-menu-item class="menu-opts" (click)="selectedMenu('major')">
          <img class="images" src="./assets/images/priority/major.svg" />
          <span>Major</span>
        </div>
        <div mat-menu-item class="menu-opts" (click)="selectedMenu('minor')">
          <img class="images" src="./assets/images/priority/minor.svg" />
          <span>Minor</span>
        </div>
        <div mat-menu-item class="menu-opts" (click)="selectedMenu('trivial')">
          <img class="images" src="./assets/images/priority/trivial.svg" />
          <span>Trivial</span>
        </div>
      </mat-menu>

      <span
        (click)="setMessage()"
        class="opts"
        matTooltip="{{ msgTooltip }}"
        [ngClass]="{ 'opts-selected': dailyTask.message }"
      >
        <mat-icon class="icon">comment</mat-icon>
      </span>
      <span
        (click)="moveToday.emit(dailyTask)"
        class="opts"
        matTooltip="Update to today's task"
      >
        <mat-icon class="icon">update</mat-icon>
      </span>

      <span
        *ngIf="!showReminder"
        (click)="setReminder(false)"
        class="opts"
        matTooltip="{{ reminderTooltip }}"
      >
        <mat-icon class="icon">notifications_active</mat-icon>
      </span>
      <div *ngIf="showReminder">
        <img
          class="images"
          matTooltip="Click to snooze/remove reminder"
          [matMenuTriggerFor]="reminderOptions"
          src="./assets/images/icons/bell.gif"
        />

        <mat-menu #reminderOptions="matMenu" yPosition="above">
          <button mat-menu-item (click)="setReminder(true)" class="menu-opts">
            <mat-icon>remove_circle_outline</mat-icon>Remove
          </button>
          <button mat-menu-item [matMenuTriggerFor]="snooze" class="menu-opts">
            <mat-icon>snooze</mat-icon>Snooze
          </button>
        </mat-menu>
        <mat-menu #snooze="matMenu" yPosition="above">
          <button mat-menu-item (click)="snoozeReminder(15)" class="menu-opts">
            15 Mins
          </button>
          <button mat-menu-item (click)="snoozeReminder(30)" class="menu-opts">
            30 Mins
          </button>
          <button mat-menu-item (click)="snoozeReminder(60)" class="menu-opts">
            1 Hour
          </button>
          <button mat-menu-item (click)="snoozeReminder(720)" class="menu-opts">
            12 Hours
          </button>
          <button
            mat-menu-item
            (click)="snoozeReminder(1440)"
            class="menu-opts"
          >
            1 Day
          </button>
          <button
            mat-menu-item
            (click)="snoozeReminder(10080)"
            class="menu-opts"
          >
            7 Days
          </button>
        </mat-menu>
      </div>

      <span
        (click)="delete.emit(dailyTask)"
        class="opts"
        matTooltip="Delete task"
      >
        <mat-icon class="icon">delete</mat-icon>
      </span>
    </div>
  </div>
</mat-card>
