mat-toolbar {
  margin-bottom: 20px;
}

mat-toolbar > span {
  margin-left: 10px;
}

.content-wrapper {
  max-width: 1400px;
  margin: auto;
  margin-top: 1em;
}

.container-wrapper {
  // display: flex;
  display: inline-flex;
  justify-content: space-around;
}

.container {
  width: 220px;
  margin: 0 5px 10px 0;
}

.card {
  padding: 0;
}

.title {
  // display: flex;
  width: 174px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.board-options {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 70%;
  margin: 2em auto;
}

.list-title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  // width: 200px;
}

.list {
  // border: solid 1px #ccc;
  min-height: 80px;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 0;
}

.new-list-section {
  margin: 10px;
}

.new-list-input {
  width: 80%;
  display: inline-grid;
}

.app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.cdk-drag-placeholder {
  opacity: 0.4;
  border: 2px dashed gray;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

// .cdk-drag-placeholder {
//   opacity: 0.5;
// }

.drag {
  cursor: move;
}

.sort {
  cursor: pointer;
}

.task-btn {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin-left: -8px;
  background: rgba(0, 255, 255, 0.1);
  transition: opacity 300ms;
}

.list:hover .task-btn {
  opacity: 1;
}

.container-add {
  margin-top: 30px;
}

.member {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  background-color: #dfe1e6;
  border-radius: 25em;
  color: #172b4d;
  cursor: pointer;
  float: left;
  height: 28px;
  margin: 0 4px 0 0;
  overflow: visible;
  position: relative;
  width: 28px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.current-member {
  color: #ffffff;
  background-color: #00bcd4;
}

.member-admin {
  background-image: url("../../../assets/images/icons/admin.png");
}

.admin-img {
  bottom: 0;
  height: 10px;
  position: absolute;
  right: 1px;
  width: 10px;
  z-index: 3;
  background-size: 100%;
}

.member-owner {
  background-image: url("../../../assets/images/icons/owner.png");
}

.owner-img {
  bottom: 0;
  height: 10px;
  position: absolute;
  left: 1px;
  width: 10px;
  z-index: 3;
  background-size: 100%;
}

.iconBtn {
  cursor: pointer;
}

.option-dividor {
  float: left;
  border-left: 1px solid hsla(0, 0%, 100%, 0.24);
  height: 16px;
  margin: 8px 8px 12px 4px;
  border-color: rgba(0, 0, 0, 0.2);
}

.done {
  height: 24px;
  color: lightseagreen;
}

.close {
  height: 24px;
  color: orangered;
}

.boardname-edit-input {
  display: flex;
  // width: 100%;
  cursor: pointer;
  align-content: center;
  align-items: center;
}

.board-input {
  // width: 200px;
  height: 24px;
}

.input {
  width: 152px;
  background-color: #fff;
  font-weight: 700;
  font-size: 18px;
  height: 24px !important;
  border: 0;
  margin: 0;
  padding: 0;
}

.list-input {
  width: 104px;
  background-color: #fff;
  font-weight: 600;
  font-size: 19px;
  height: 24px !important;
  border: 0;
  margin: 0;
  padding: 0;
}

.fav-icon {
  cursor: pointer;
}

.flex-display {
  display: flex;
  align-items: center;
  align-content: center;
}

.pointer {
  cursor: pointer;
}

.option-bg {
  border-radius: 4px;
  background-color: #eeeeee;
  padding: 0 4px;
}

.txt-small {
  font-size: small;
}

.list-header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.icon-small {
  font-size: 18px;
}

.sidenav {
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition-property: transform, width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transform: translateX(339px);
  width: 339px;
  z-index: 5;
  background-color: #f4f5f7;
}

.sidenav-open {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition-property: transform, width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transform: translateX(0px) !important;
  width: 339px;
  z-index: 5;
  background-color: #f4f5f7;
}

.menu-header {
  font-size: 24px;
  font-weight: 500;
  margin-left: 1em;
}

.spacing {
  justify-content: space-between;
}

.nav-option-dividor {
  border-top: 1px solid hsla(0, 0%, 100%, 0.24);
  margin: 1em 3em;
  border-color: rgba(0, 0, 0, 0.2);
}

.menu-options {
  margin: 0 2em;
}

.menu-option span {
  margin-left: 1em;
}

.menu-option:hover {
  border-radius: 4px;
  background-color: #bdbdbd;
}

.menucard {
  padding: 1rem;
}

.menucard-options {
  display: flex;
  flex-direction: column;
}

.menucard-options p {
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
