mat-toolbar {
  margin-bottom: 20px;
}

mat-toolbar > span {
  margin-left: 10px;
}

.content-wrapper {
  max-width: 1400px;
  margin: auto;
}

.container-wrapper {
  // display: flex;
  display: inline-flex;
  justify-content: space-around;
}

.container {
  width: 400px;
  width: 320px;
  // margin: 0 25px 25px 0;
  margin-right: 5px;
}

.list {
  border: solid 1px #ccc;
  min-height: 80px;
  border-radius: 4px;
}

app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.task-btn {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin-left: -16px;
  background: aqua;
  transition: opacity 300ms;
}

.list:hover .task-btn{
  opacity: 1;
}

.container-add {
  margin-top: 30px;
}