mat-toolbar {
  margin-bottom: 20px;
}

mat-toolbar > span {
  margin-left: 10px;
}

.content-wrapper {
  max-width: 1400px;
  margin: auto;
}

.container-wrapper {
  // display: flex;
  display: inline-flex;
  justify-content: space-around;
}

.container {
  width: 400px;
  width: 320px;
  // margin: 0 25px 25px 0;
  margin-right: 5px;
}

.list-title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 280px;
}

.list {
  // border: solid 1px #ccc;
  min-height: 80px;
  border-radius: 4px;
  padding: 8px;
}

.new-list-section {
  margin: 10px;
}

.new-list-input {
  width: 80%;
  display: inline-grid;
}

.app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.cdk-drag-placeholder {
  opacity: 0.2;
  border: 2px dashed gray;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

// .cdk-drag-placeholder {
//   opacity: 0.5;
// }

.task-btn {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin-left: -8px;
  background: rgba(0, 255, 255, 0.1);
  transition: opacity 300ms;
}

.list:hover .task-btn {
  opacity: 1;
}

.container-add {
  margin-top: 30px;
}

.member {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  background-color: #dfe1e6;
  border-radius: 25em;
  color: #172b4d;
  cursor: pointer;
  float: left;
  height: 32px;
  margin: 0 4px 4px 0;
  overflow: visible;
  position: relative;
  width: 32px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}
