<div class="content-wrapper">
  <button (click)="newBoard()" mat-button>
    <mat-icon>add</mat-icon> Add Board
  </button>
  <button (click)="showClosedBoards()" mat-button>
    View all closed boards
  </button>

  <div class="container-wrapper">
    <div class="container">
      <p class="empty-label" *ngIf="boards?.length === 0">Empty Board</p>
      <board
        (edit)="editBoard($event)"
        (open)="openBoard($event)"
        *ngFor="let board of boards"
        [board]="board"
      ></board>
    </div>
  </div>
  <div class="share"></div>
  <div class="container-wrapper">
    <div class="container">
      <p class="empty-label" *ngIf="sharedBoards?.length === 0">
        Empty Shared Board
      </p>
      <board
        (edit)="editBoard($event)"
        *ngFor="let shareBoard of sharedBoards"
        [board]="shareBoard"
      ></board>
    </div>
  </div>
</div>
