.sub-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 1em;
  font-size: small;
  font-weight: 600;
  color: dimgray;
  font-size: 1em;
}

.title {
  display: block;
}
