<div
  [ngClass]="{
    'single-checklist': !checklist.isEditing,
    'single-checklist-edit': checklist.isEditing
  }"
>
  <mat-checkbox
    [(ngModel)]="checklist.done"
    color="primary"
    (change)="markChecklistDone(checklist)"
  ></mat-checkbox>
  <span
    (click)="toggleChecklistEditing(checklist)"
    *ngIf="!checklist.isEditing"
    class="checklist-text"
    [ngClass]="{ 'checklist-done': checklist.done == true }"
    >{{ checklist.text }}</span
  >
  <p
    *ngIf="checklist.dueDate && !checklist.isEditing"
    class="action-schedule"
    [ngClass]="{
      'due-date': checklistOverDue == false && checklist.done == false,
      'due-overdue': checklistOverDue == true,
      'due-complete':
        checklist.done == true || checklist.dueDate.completed == true
    }"
    (click)="duedate.emit(checklist)"
  >
    <mat-icon class="icon">schedule</mat-icon>
    <span>{{ checklist.dueDate.date | dateformat: "short" }}</span>
  </p>
  <p
    class="members"
    *ngIf="
      checklist.members && checklist.members.length > 0 && !checklist.isEditing
    "
  >
    <span
      class="member"
      *ngFor="let member of checklist.members"
      title="{{ member.name }}"
      >{{ member.name | shortname }}</span
    >
  </p>

  <div class="checklist-text checklist-edit-input" *ngIf="checklist.isEditing">
    <input matInput [(ngModel)]="checklist.text" />
    <span (click)="toggleChecklistEditing(checklist)" class="done">
      <mat-icon class="icon icon-bold">done</mat-icon>
    </span>
    <span (click)="toggleChecklistEditing(checklist)" class="close">
      <mat-icon class="icon icon-bold">close</mat-icon>
    </span>
  </div>

  <div class="checklist-options" *ngIf="!checklist.isEditing">
    <span
      (click)="duedate.emit(checklist)"
      *ngIf="!checklist.dueDate && showDuedate"
      matTooltip="schedule"
    >
      <mat-icon class="icon">schedule</mat-icon>
    </span>
    <span (click)="assign.emit(checklist)" *ngIf="showAssign" matTooltip="assign">
      <mat-icon class="icon">person_add</mat-icon>
    </span>
    <span (click)="delete.emit(checklist)" *ngIf="showDelete" matTooltip="delete">
      <mat-icon class="icon">delete</mat-icon>
    </span>
    <span (click)="convertToCard(checklist)" *ngIf="showDelete" matTooltip="convert to card">
      <mat-icon class="icon">redo</mat-icon>
    </span>
  </div>
</div>
