<section id="hero">
  <div class="container">
    <div class="detail">
      <h1>Tasks helps teams move work forward.</h1>
      <p>
        Collaborate, manage projects, and reach new productivity peaks. From
        high rises to the home office, the way your team works is
        unique—accomplish it all with Trello.
      </p>
      <div class="sign-up">
        <div class="">
          <input
            name="email"
            class=""
            type="email"
            placeholder="Email"
            [(ngModel)]="emailId"
          />
        </div>
        <button class="btn btn-wrap btn-primary btn-block" (click)="signUp()">
          Sign up—it’s free!
        </button>
      </div>
    </div>
    <div class="">
      <img
        src="../../assets/images/hero.jpg"
        width="931"
        height="1205"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
</section>
<section id="product">
  <div class="container flex-display col">
    <div class="detail flex-display col offset">
      <h2>It’s more than work. It’s a way of working together.</h2>
      <p>
        Start with a Tasks board, lists, and cards. Customize and expand with
        more features as your teamwork grows. Manage projects, organize tasks,
        and build team spirit—all in one place.
      </p>
      <div class="sign-up">
        <button class="btn btn-wrap btn-default" (click)="signUp()">
          Start doing →
        </button>
      </div>
    </div>
    <div class="">
      <img
        src="../../assets/images/board.png"
        width="931"
        height="1205"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
</section>
<section id="features">
  <div class="container col">
    <div class="flex-only spacing">
      <div class="detail col-lg">
        <h2>Features to help your team succeed</h2>
        <p>
          Powering a productive team means using a powerful tool (and plenty of
          snacks). From meetings and projects to events and goal setting,
          Trello’s intuitive features give any team the ability to quickly set
          up and customize workflows for just about anything.
        </p>
      </div>
    </div>
    <div class="flex-only spacing">
      <div class="col-lg">
        <img
        src="../../assets/images/board.svg"
          width="414.57"
          height="312.57"
          class="img-fluid w-100"
        />
      </div>
      <div class="detail col-lg">
        <h5>Choose a view</h5>
        <h2>The board is just the beginning</h2>
        <p class="text-gray">
          Lists and cards are the building blocks of organizing work on a Trello
          board. Grow from there with task assignments, timelines, productivity
          metrics, calendars, and more.
        </p>
        <div class="expand">
          <h3><a>Learn more</a></h3>
          <div>
            <p>
              You and your team can start up a Trello board in seconds. With the
              ability to view board data from many different angles, the entire
              team stays up-to-date in the way that suits them best:
            </p>
            <ul>
              <li>Use a Timeline view for project planning</li>
              <li>Calendar helps with time management</li>
              <li>Table view connects work across boards</li>
              <li>See board stats with Dashboard, and more!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-only spacing">
      <div class="detail col-lg order-2">
        <img
        src="../../assets/images/card-back.svg"
          width="339.13"
          height="275.31"
          class="img-fluid w-100"
        />
      </div>
      <div class="detail col-lg">
        <h5>Dive into the details</h5>
        <h2>Cards contain everything you need</h2>
        <p class="text-gray">
          Trello cards are your portal to more organized work—where every single
          part of your task can be managed, tracked, and shared with teammates.
          Open any card to uncover an ecosystem of checklists, due dates,
          attachments, conversations, and more.
        </p>
        <div class="expand">
          <h3><a>Learn more</a></h3>
          <div>
            <p>
              Spin up a Trello card with a click, then uncover everything it can
              hold. Break down bigger card tasks into steps with file attachment
              previews, reminders, checklists and comments—emoji reactions
              included! Plus, gain powerful perspective by seeing all cards by
              list and status at the board level.
            </p>
            <p>Your team can:</p>
            <ul>
              <li>Manage deadlines</li>
              <li>Provide and track feedback</li>
              <li>Assign tasks and hand off work</li>
              <li>Connect work across apps</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-only spacing">
      <div class="detail col-lg">
        <img
        src="../../assets/images/automation.png"
          width="979"
          height="740"
          class="img-fluid w-100"
        />
      </div>
      <div class="detail col-lg">
        <h5>Meet your new Butler</h5>
        <h2>No-code automation</h2>
        <p class="text-gray">
          Let the robots do the work—so your team can focus on work that
          matters. With Trello’s built-in automation, Butler, reduce the number
          of tedious tasks (and clicks) on your project board by harnessing the
          power of automation across your entire team.
        </p>
        <div class="expand">
          <h3><a>Learn more</a></h3>
          <div>
            <p>
              Butler uses natural language commands to automate just about any
              task in Trello:
            </p>
            <ul>
              <li>Automate common actions like moving lists</li>
              <li>Create custom buttons to build process quickly</li>
              <li>Surface upcoming deadlines to the team</li>
              <li>Schedule teammate assignments, and more!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-only spacing">
      <div class="detail col-lg order-2">
        <img
          src="../../assets/images/power-ups.png"
          width="753"
          height="678"
          class="img-fluid w-100"
        />
      </div>
      <div class="detail col-lg">
        <h5>Power-Ups</h5>
        <h2>Integrate top work tools</h2>
        <p class="text-gray">
          Easily connect the apps your team already uses into your Trello
          workflow, or add a Power-Up that helps fine-tune one specific need.
          With hundreds of Power-Ups available, your team’s workflow wishes are
          covered.
        </p>
        <div class="expand">
          <h3><a>Learn more</a></h3>
          <div>
            <p>
              From Reporting to Custom Fields to your beloved software
              integrations—we’ve got functionalities, your favorites, and more!
            </p>
            <p>Such as:</p>
            <ul>
              <li>Confluence</li>
              <li>Slack</li>
              <li>Dropbox</li>
              <li>Google Drive</li>
              <li>Evernote</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="product"></section>
<section id="features"></section>
<section id="sign-up"></section>
<footer>
  <ul class="global-footer-list">
    <li class="">
      <a class="" href="/templates" data-analytics-link="templatesFooterLink"
        >Templates</a
      >
    </li>
    <li class="">
      <a class="" href="/pricing" data-analytics-link="pricingFooterLink"
        >Pricing</a
      >
    </li>
    <li class="">
      <a
        class=""
        target="_blank"
        data-analytics-link="blogFooterLink"
        href="https://blog.taskfrtdy.com/"
        >Blog</a
      >
    </li>
    <li class="">
      <a
        class=""
        href="https://developers.taskfrtdy.com"
        data-analytics-link="developersFooterLink"
        >Developers</a
      >
    </li>
    <li class="">
      <a class="" href="/about" data-analytics-link="aboutFooterLink">About</a>
    </li>
    <li class="">
      <a class="" href="/help" data-analytics-link="helpFooterLink">Help</a>
    </li>
    <li class="">
      <a class="" href="/legal" data-analytics-link="legalFooterLink">Legal</a>
    </li>
    <li class="">
      <a class="" href="/privacy" data-analytics-link="privacyFooterLink"
        >Privacy</a
      >
    </li>
  </ul>
  <img src="../../../assets/images/logo-footer.png">
  <p>© Copyright 2022. All rights reserved.</p>
</footer>
