<div class="header" (click)="cancel()">
  <span>Information</span>
  <mat-icon class="icon-btn">close</mat-icon>
</div>
<div>
  <div class="info-img">
    <span>Information Image goes here</span>
  </div>

  <div class="info-header">
    <span>Information Header goes here</span>
  </div>
  <hr />

  <div class="options">
    <ul>
      <li>
        <a class="" href="/pricing" target="_blank">Pricing</a>
      </li>
      <li>
        <a class="" href="/apps" target="_blank">Apps</a>
      </li>
      <li>
        <a class="" href="/blog" target="_blank">Blog</a>
      </li>
      <li>
        <a class="" href="/help" target="_blank">Help</a>
      </li>
      <li>
        <a class="" href="/legal" target="_blank">Legal</a>
      </li>
    </ul>
  </div>
</div>
