<div class="header flex-display spacing" (click)="cancel()">
  <span>Information</span>
  <mat-icon class="icon-btn">close</mat-icon>
</div>
<div>
  <div class="info-img">
    <mat-progress-bar mode="indeterminate" *ngIf="!informationImage"></mat-progress-bar>
    <img src="{{informationImage}}"/>
  </div>

  <div class="info-header">
    <span [innerHTML]="data.informations[0].text"></span>
  </div>
  <hr />

  <div class="options">
    <ul>
      <li>
        <a class="" href="/pricing" target="_blank">Pricing</a>
      </li>
      <li>
        <a class="" href="/apps" target="_blank">Apps</a>
      </li>
      <li>
        <a class="" href="/blog" target="_blank">Blog</a>
      </li>
      <li>
        <a class="" href="/help" target="_blank">Help</a>
      </li>
      <li>
        <a class="" href="/legal" target="_blank">Legal</a>
      </li>
    </ul>
  </div>
</div>
