<section class="option-bar">
  <div class="options">
    <div class="toggle-btn">
      Pending
      <mat-slide-toggle
        matTooltip="show pending task"
        matTooltipPosition="above"
        [(ngModel)]="showHideCompletedTask"
        [color]="'primary'"
        (change)="toggleShowHideCompletedTask()"
      >
      </mat-slide-toggle>
    </div>
    <span class="option-dividor"></span>
    <div class="toggle-btn">
      Today
      <mat-slide-toggle
        matTooltip="show today's task"
        matTooltipPosition="above"
        [(ngModel)]="showTodayTask"
        [color]="'primary'"
        (change)="toggleShowTodayTask()"
      >
      </mat-slide-toggle>
    </div>
    <span class="option-dividor"></span>
    <div class="days">
      <p [matMenuTriggerFor]="menuInterval">{{ selectedShownDays }} days</p>
    </div>
    <mat-menu #menuInterval="matMenu">
      <div mat-menu-item class="menu-opts" (click)="daysSelected(3)">
        <span>3 Days</span>
      </div>
      <div mat-menu-item class="menu-opts" (click)="daysSelected(7)">
        <span>7 Days</span>
      </div>
      <div mat-menu-item class="menu-opts" (click)="daysSelected(15)">
        <span>15 Days</span>
      </div>
      <div mat-menu-item class="menu-opts" (click)="daysSelected(100)">
        <span>All</span>
      </div>
    </mat-menu>
  </div>
  <div class="filters">
    <mat-button-toggle-group aria-label="filter group">
      <mat-button-toggle
        value="all"
        (click)="showAllTaskAtOnceView()"
        [checked]="allTaskViewChecked"
        matTooltip="All task"
      >
        <mat-icon>list_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        value="date"
        (click)="showTaskByDateView()"
        [checked]="dateTaskViewChecked"
        matTooltip="Task based on date"
      >
        <mat-icon>date_range</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</section>

<div class="today">
  <p>TODAY: {{ todayDate | dateformat: "long" }}</p>
</div>

<p class="empty-label" *ngIf="!dailyTasks">Empty list</p>
<div class="list">
  <div class="list-section">
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      class="drag-list"
      *ngIf="viewType === 'ALL'"
    >
      <daily-task
        *ngFor="let dailyTask of dailyTasksFilterd"
        class="drag-item"
        cdkDrag
        [cdkDragDisabled]="
          showTodayTask || showHideCompletedTask || isTaskFilteredDays
        "
        (edit)="editTask($event)"
        (delete)="deleteTask($event)"
        (done)="doneTask($event)"
        (addMessage)="addMessage($event)"
        (moveToday)="moveTaskToToday($event)"
        (reminder)="addReminder($event)"
        (statusChanged)="setstatus($event)"
        (priorityChnaged)="setPriority($event)"
        [dailyTask]="dailyTask"
      ></daily-task>
      <input
        matInput
        [(ngModel)]="newDailyTaskTitle"
        autocomplete="off"
        class="input"
        placeholder="Enter daily task eg. Buy Milk"
        (keyup.enter)="createNewDailyTaskQuick()"
      />
    </div>

    <div
      cdkDropList
      (cdkDropListDropped)="dropDateView($event)"
      class="drag-list"
      *ngIf="viewType === 'DATE'"
    >
      <div *ngFor="let taskView of dailyTasksDateView">
        <span class="date">{{ taskView.date | dateformat: "short" }}</span>
        <daily-task
          *ngFor="let dailyTask of taskView.tasks"
          class="drag-item"
          cdkDrag
          [cdkDragDisabled]="
            showTodayTask || showHideCompletedTask || isTaskFilteredDays
          "
          (edit)="editTask($event)"
          (delete)="deleteTask($event)"
          (done)="doneTask($event)"
          (addMessage)="addMessage($event)"
          (moveToday)="moveTaskToToday($event)"
          (reminder)="addReminder($event)"
          (statusChanged)="setstatus($event)"
          (priorityChnaged)="setPriority($event)"
          [dailyTask]="dailyTask"
        ></daily-task>
      </div>
      <input
        matInput
        [(ngModel)]="newDailyTaskTitle"
        autocomplete="off"
        class="input"
        placeholder="Enter daily task eg. Buy Milk"
        (keyup.enter)="createNewDailyTaskQuick()"
      />
    </div>
  </div>
  <div class="container-add">
    <button (click)="createNewDailyTask()" mat-button>
      <mat-icon>add</mat-icon> Add Task
    </button>
  </div>
</div>
