<div class="description">
  <h1>Tasks your way.</h1>
  <p>
    Trusted by millions, Tasks powers teams all around the world.<br />Explore
    which option is right for you.
  </p>
</div>

<section class="price-box">
  <div class="outer-one">
    <div class="outer-two">
      <div class="outer-three">
        <div class="outer-four">
          <div class="inner-one">
            <h2 class="">Free</h2>
            <p class="">
              For individuals and teams looking to be more productive.
            </p>
          </div>
          <div class="inner-two">
            <div class="">
              <span class="">&#8377;</span>0<span class="">INR</span>
            </div>
          </div>
          <div class="inner-three">
            <div class="signup">
              <a href="/register"><span>Get started</span></a>
            </div>
          </div>
          <div class="inner-four">
            <div class="options">
              <ul>
                <li>Unlimited cards</li>
                <li>Unlimited members</li>
                <li>Up to 10 boards per Workspace</li>
                <li>1 Power-Up per board</li>
                <li>Unlimited storage (10MB/file)</li>
                <li>50 automated command runs per month</li>
                <li>Unlimited activity log</li>
                <li>Assignee and due dates</li>
                <li>iOS and Android mobile apps</li>
                <li>2-factor authentication</li>
              </ul>
            </div>
          </div>
          <div class="inner-five">
            <h2 class="">Business Class</h2>
            <p class="">
              For teams that need to track multiple projects and visualize work
              in a variety of ways. Best for teams up to 100.
            </p>
          </div>
          <div class="inner-six">
            <div class="">
              <span class="">$</span>10<span class="">USD</span>
            </div>
            <p class="">
              per user per month billed annually ($12.50 billed monthly)
            </p>
          </div>
          <div class="inner-seven">
            <div class="business-signup">
              <a href="/register"><span>Try for free</span></a>
            </div>
          </div>
          <div class="inner-eight">
            <div class="options">
              <h4>Everything in Free, plus:</h4>
              <ul>
                <li>Unlimited boards</li>
                <li>Unlimited Power-Ups</li>
                <li>
                  Dashboard view
                  <!-- -->&nbsp;<code>NEW</code>
                </li>
                <li>
                  Timeline view
                  <!-- -->&nbsp;<code>NEW</code>
                </li>
                <li>
                  Workspace Table view
                  <!-- -->&nbsp;<code>BETA</code>
                </li>
                <li>
                  Calendar view
                  <!-- -->&nbsp;<code>NEW</code>
                </li>
                <li>Advanced checklists</li>
                <li>Map view</li>
                <li>
                  1,000 automated command runs per Workspace + 200 per user, up
                  to 6,000 per month
                </li>
                <li>Unlimited storage (250MB/file)</li>
                <li>Admin and security features</li>
                <li>Workspace-level templates</li>
                <li>Collections</li>
                <li>Observers</li>
                <li>Single board guests</li>
                <li>Custom backgrounds &amp; stickers</li>
                <li>Saved searches</li>
                <li>Priority support</li>
                <li>Google Apps sign-on</li>
                <li>
                  Simple data export
                  <!-- -->&nbsp;<br />&nbsp;<br /><a href="/business-class"
                    >Learn more about Business Class</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="inner-nine">
            <h2 class="">Enterprise</h2>
            <p class="">
              For companies that need enhanced control, security, and support.
            </p>
            <div class="">
              <div>
                Est. cost for<input
                  type="number"
                  value="25"
                  min="25"
                  max="5000"
                />users
              </div>
              <input type="range" value="25" min="25" max="5000" />
            </div>
          </div>
          <div class="inner-ten">
            <div class="">
              <span class="">$</span>17.50<span class="">USD</span>
            </div>
            <p class="">
              per user per month billed annually ($210.00 annual price per user)
            </p>
          </div>
          <div class="inner-eleven">
            <div class="signup">
              <a href="/enterprise#contact"><span>Contact sales</span></a>
            </div>
          </div>
          <div class="inner-twelve">
            <div class="options">
              <h4>Everything in Business Class, plus:</h4>
              <ul>
                <li>Organization wide permissions</li>
                <li>Organization visible boards</li>
                <li>Public board management</li>
                <li>Multi-board guests</li>
                <li>Attachment permissions</li>
                <li>Power-Up administration</li>
                <li>
                  Unlimited automated command runs
                  <!-- -->&nbsp;<br />&nbsp;<br /><a href="/enterprise"
                    >Learn more about Enterprise</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
