.content-header {
  color: #172b4d;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.006em;
  line-height: 20px;
  margin-top: 24px;
}

.content-body {
  color: #172b4d;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.006em;
  margin-top: 24px;
}

.pay-btn {
  background: #eddbf4;
}

.pay-btn:hover {
  background: #dfc0eb;
}
