.container {
  margin: 4em;
}

.section {
  // display: flex;
  // align-items: center;
  // align-content: center;
  // justify-content: space-between;
}

.label {
  margin-top: 5px;
  margin-bottom: 1em;
  font-size: small;
  font-weight: 600;
  color: dimgray;
  font-size: 1em;
}
