<mat-tab-group
  mat-align-tabs="center"
  [backgroundColor]="'primary'"
  (selectedTabChange)="tabClicked($event)"
>
  <mat-tab label="Profile">
    <section class="section-container">
      <div class="container">
        <h1>Manage your personal information</h1>

        <div>
          <h3 class="header-text">About</h3>
          <hr />
          <div class="profile-section">
            <div class="avatar-container">
              <h3>Avatar</h3>
              <div class="avatar-section">
                <div class="avatar-section-image">
                  <span
                    *ngIf="avatarImageUrl"
                    class="avatar-img big img-style"
                    [style.backgroundImage]="'url(' + avatarImageUrl + ')'"
                  ></span>
                </div>
                <button class="avatar-btn" (click)="uploadFileLocal()">
                  Change
                </button>
              </div>
            </div>
            <div *ngIf="user" class="profile-form">
              <mat-form-field>
                <mat-label>Full Name</mat-label>
                <input
                  matInput
                  cdkFocusInitial
                  autocomplete="off"
                  [(ngModel)]="user.name"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Initials</mat-label>
                <input
                  matInput
                  cdkFocusInitial
                  autocomplete="off"
                  [(ngModel)]="user.initials"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Username</mat-label>
                <input
                  matInput
                  cdkFocusInitial
                  autocomplete="off"
                  [(ngModel)]="user.username"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Bio</mat-label>
                <textarea
                  matInput
                  placeholder="Information about you..."
                  [(ngModel)]="user.bio"
                ></textarea>
              </mat-form-field>

              <button
                mat-flat-button
                color="primary"
                (click)="saveUserInformation(user)"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-tab>
  <mat-tab label="Activity">
    <section class="section-container">
      <div class="container">
        <h1>User Activity</h1>

        <section class="activity">
          <div class="flex-display space-btwn">
            <span class="flex-display">
              <mat-icon>subject</mat-icon><span>Activity</span>
            </span>
          </div>

          <div *ngIf="userActivities">
            <div *ngFor="let activity of userActivities" class="activity-text">
              <span class="member" matTooltip="{{ activity.user }}">{{
                activity.user | shortname
              }}</span>
              <div class="member-info">
                <span
                  ><b>{{ activity.user }} </b>
                  <span [innerHTML]="activity.action"></span>
                  on task
                  <span
                    [innerHTML]="activity.taskTitle"
                    (click)="activityToCard(activity.taskId)"
                    class="activity-card"
                  ></span
                ></span>
                <p>
                  <span>{{ activity.dateTime | dateformat: "" }}</span>
                  - on board
                  <span
                    [innerHTML]="activity.taskOnBoard"
                    (click)="activityToBoard(activity.taskId)"
                    class="activity-card activity-card-board"
                  ></span>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </mat-tab>
  <mat-tab label="Tasks">
    <section class="section-container">
      <div class="container">
        <h1>Your Tasks</h1>

        <div *ngIf="userTasks">
          <div *ngFor="let taskBoard of userTasksOnBoard">
            <mat-card class="board-card">
              <mat-card-title>{{ taskBoard.boardName }}</mat-card-title>
              <mat-card-content>
                <div *ngFor="let task of taskBoard.tasks">
                  <task
                    (edit)="editTask($event)"
                    [task]="task"
                    [labels]="taskBoard.labels"
                    [options]="taskOptions"
                    [boardId]="boardId"
                  ></task>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </section>
  </mat-tab>
  <mat-tab label="Settings">
    <section class="section-container">
      <div class="container">
        <h1>Change settings for Board</h1>

        <div>
          <p class="label">Board Settings</p>
          <button mat-flat-button color="primary">Save</button>
        </div>
        <div>
          <p class="label">Daily Task Settings</p>
          <button mat-flat-button color="primary">Save</button>
        </div>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>
